body{
    background-image: url("memphis-colorful.png")
}
/* body {
    margin: 0;
    height: 1000px;
} */

#shadowbox {
    position: fixed;
    z-index: 998;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
}

#banner {
    position: fixed;
    z-index: 999;
    top: 50px;
    left: 50px;
    height: 420px;
    width: 1024px;
    background-image: url("memphis-colorful.png")
}

#close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: Arial, Helvetica;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
}
h3{
    text-align: center;
}